<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1014943805912-ic52cql378028i2p4crergsgnm2081po.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1014943805912-ic52cql378028i2p4crergsgnm2081po</string>
	<key>API_KEY</key>
	<string>AIzaSyCXs2_AAsgPug1D1lAzbmrZxlHvN4LWh0g</string>
	<key>GCM_SENDER_ID</key>
	<string>1014943805912</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pmaDclv</string>
	<key>PROJECT_ID</key>
	<string>pm-app-6c2cc</string>
	<key>STORAGE_BUCKET</key>
	<string>pm-app-6c2cc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1014943805912:ios:b6ef01cae8363b596242ad</string>
</dict>
</plist>